<!--
File name: error.ejs
Author's name: Aakriti Gupta
Student ID: 301103413
Date: October 24, 2020
web site name: Aakriti Gupta's Express Portfolio Website with Authentication
File description: This page is called when there is any error.
-->
<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>

<div class="container">
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>


<%- include partials/bottom_nav.ejs%>

<%- include partials/footer.ejs%>